.btn
  outline: none
  cursor: pointer
  background-color: transparent
  border: none
  /* Toggle dark mode */
  &.main__btn
    height: 5.5vw
    width: 5.5vw
    background-size: cover

    @include breakpoint-up (medium)
      height: 2.5vw
      width: 2.5vw
  &.main__task-clear-completed--btn
    @include task-controls-font-styles


.main
  &__input-btn, &__task-btn
    @include task-btn-style
    @include flex-row (center, center)
    &::before
      content: ""
      width: 90%
      height: 90%
      border-radius: inherit
      margin: auto
      background-color: $veryLightGray
    &:hover
      background-image: $checkBackground

  &__task-delete-btn
    background-image: url("../../assets/images/icon-cross.svg")
    height: 3.5vw
    width: 3.5vw
    background-size: cover

    @include breakpoint-up (medium)
      height: 1.5vw
      width: 1.5vw
      opacity: 0


.light
  .main
    &__btn
      background-image: url("../../assets/images/icon-moon.svg")
      background-color: transparent


    &__task-clear-completed--btn
      color: $darkGrayishBlue_light
      background-color: transparent
      &:hover
        color: $veryDarkGrayishBlue_light
    &__task-btn, &__input-btn
      border: solid 1px $input-checkBox-border-color
      &::before
        background-color: $veryLightGray


.dark
  .main
    &__btn
      background-image: url("../../assets/images/icon-sun.svg")
      background-color: transparent

    &__task-clear-completed--btn
      color: $veryDarkGrayishBlue_light
      background-color: transparent
      &:hover
        color: $lightGrayishBlue_dark1

    &__task-btn, &__input-btn
      border: solid 1px $veryDarkGrayishBlue_dark1
      &::before
        background-color: $veryDarkDesaturatedBlue
