.main
  position: absolute
  top: 0
  &__header
    @include flex-column (space-between, felx-start)
  &__title-toggle--wrapper
    @include flex-row (space-between, center)
    padding: 10vw 0 8vw 0

    @include breakpoint-up (medium)
      padding: 0 0 3vw 0
  &__title
    color: white
    font-size: 7vw
    text-transform: uppercase
    letter-spacing: 0.3em

    @include breakpoint-up (medium)
      font-size: 3vw
  &__btn
    outline: none
    background-color: transparent
    border: none
    height: 5.5vw
    width: 5.5vw
    background-size: cover

    @include breakpoint-up (medium)
      height: 2.5vw
      width: 2.5vw
  &__input
    @include flex-row (flex-start,center)
    background-color: $veryLightGray
    padding: 3vw 5vw
    border-radius: 1.5vw

    @include breakpoint-up (medium)
      padding: 1.5vw 2.5vw
      border-radius: 0.6vw
    &-checkBox
      width: $input-checkBox-size
      height: $input-checkBox-size
      margin-right: 4vw
      border-radius: 100px
      border: solid 1px $input-checkBox-border-color

      @include breakpoint-up (medium)
        width: 2.5vw
        height: 2.5vw
        margin-right: 2vw
    &-label
      width: 80%
    &-component
      width: 100%
      border: none
      outline: none
      background-color: transparent

      @include breakpoint-up (large)
        font-size: 1.8vw

.container
  width: 100%
  margin: auto
  padding: 5vw

  @include breakpoint-up (medium)
    width: 55%