body, html, #root
  padding: 0
  margin: 0
  font-family: 'Josefin Sans', sans-serif
  font-size: 18px

*, *::before, *::after
  box-sizing: border-box
  padding: 0
  margin: 0
  transition: all 1s ease-in-out
  font-family: 'Josefin Sans', sans-serif



#app
  @include flex-column  (flex-start, center)
  min-height: 100vh
  position: relative


.hide-mobile
  @include breakpoint-up (medium)
    display: none
.hide-desktop
  @include breakpoint-down (small)
    display: none